@use '../settings' as *;
@use '../utilities' as *;

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-family: $segment-semibold;
}

h1, .h1 {
    font-size: pxToRem(80px);
    line-height: 1.2;
}
h2, .h2 {
    font-size: pxToRem(50px);
    line-height: 1.3;
}
h3, .h3 {
    font-size: pxToRem(40px);
    line-height: 1.25;
}
h4, .h4 {
    font-size: pxToRem(30px);
    line-height: 1.2;
}
h5, .h5 {
    font-size: pxToRem(24px);
    line-height: 1.2;
}

p {
    font-family: $segment-regular;
    font-size: pxToRem(24px);
}
