// -------------------------
// Transition
// -------------------------
// $default-time: 0.35s !default;
// $opacity-time: 0.35s !default;
// $reveal-time: .4s !default;
// $reveal-delay: .35s !default;
// $translate-time: 0.65s !default;
// $default-easing: ease-in-out !default;

// $animate-delay: 0s !default;
// $animate-slide-offset: 50px !default;
// $animate-zoom-start: .5 !default;

:root {
  --default-time: 0.35s;

  --reveal-time: 0.4s;
  --reveal-delay: 0.35s;

  --translate-time: 0.65s;
  --default-easing: ease-in-out;

  --animate-delay: 0s;
  --animate-slide-offset: 50px;
  --animate-zoom-start: 0.5;
  // --animate-zoom-end: none; // usually we use transform: none, sometimes appy to more than 1 effect, variable needed ?

  // transition-delay for slide / zoom ? Should separate their scss

  --opacity-time: 0.35s;
  --opacity-start: 0;
  --opacity-end: 1;
}

[data-animate] { // remplacer pour :root ? À tester
  transition-duration: var(--animate-duration, var(--default-time));
  transition-delay: var(--animate-delay, var(--animate-delay));
  transition-timing-function: var(--animate-easing, var(--default-easing));
}

// Reveal
[data-animate|='reveal'] {
  border-radius: var(--animate-border-radius, 24px);
  overflow: hidden;
  position: relative;
  will-change: transform;

  .reveal__background, 
  .reveal__foreground {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  .reveal__background {
    transition: transform var(--reveal-time) var(--default-easing);
    z-index: 2;
  }
  .reveal__foreground {
    background-color: inherit;
    transition: transform var(--reveal-time) var(--default-easing);
    transition-delay: var(--reveal-delay);
    z-index: 3;
  }

  &::before, 
  &::after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  &::before {
    background-color: var(--animate-background-color);// , #FFFFFF
    transition: transform var(--reveal-time) var(--default-easing);
    z-index: 3;
  }
  &::after {
    background-color: var(--animate-foreground-color); // , #131E32
    transition: transform var(--reveal-time) var(--default-easing);
    transition-delay: var(--reveal-delay);
    z-index: 2;
  }
}
[data-animate|='reveal'].in-view {
  .reveal__background {
    transform: translateY(-100%);
  }
  .reveal__foreground {
    transform: translateY(-100%);
  }

  &::before {
    transform: translateY(-100%);
  }
  &::after {
    transform: translateY(-100%);
  }
}

/* / Specific animations */
// Fade
[data-animate|='fade'] {
  opacity: var(--opacity-start);
  transition-property: opacity;
}

[data-animate|='fade'].in-view {
  opacity: var(--opacity-end);
}
[data-animate|='fade'].out-view {
  opacity: var(--opacity-start);
}

// Slide
[data-animate|='slide'] {
  opacity: var(--opacity-start);
  transform: translateY(var(--animate-slide-offset, var(--animate-slide-offset)));
  transition-property: opacity, transform;
  transition-duration: var(--animate-opacity-duration, var(--opacity-time)), var(--animate-slide-duration, var(--translate-time));
}

// Zoom
[data-animate|='zoom'] {
  opacity: var(--opacity-start);
  transform: scale(var(--animate-zoom-start, var(--animate-zoom-start)));
  transform-origin: center center;
  transition-property: opacity, transform;
}

[data-animate|='slide'].in-view,
[data-animate|='zoom'].in-view {
  opacity: var(--opacity-end);
  transform: none;
  transition-delay: 0s;
}
[data-animate|='slide'].out-view {
  opacity: var(--opacity-start);
  transform: translateY(var(--animate-slide-offset, - var(--animate-slide-offset)));
  transition-delay: 0s !important;
}

// Mobile
@media only screen and (max-width: 991px) {
  [data-animate-mobile] {
    display: block;
  }

  // Fade
  [data-animate-mobile|='fade'] {
    opacity: var(--opacity-start);
    transition-property: opacity;

    // Unset slide/zoom properties
    transform: unset;
  }
  
  [data-animate-mobile|='fade'].in-view {
    opacity: var(--opacity-end);
  }

  // Slide
  [data-animate-mobile|='slide'] {
    opacity: var(--opacity-start);
    transform: translateY(var(--animate-slide-offset, var(--animate-slide-offset)));
    transition-property: opacity, transform;
    transition-duration: var(--animate-opacity-duration, var(--opacity-time)), var(--animate-slide-duration, var(--translate-time));
  }

  // Zoom
  [data-animate-mobile|='zoom'] {
    opacity: var(--opacity-start);
    transform: scale(var(--animate-zoom-start, var(--animate-zoom-start)));
    transform-origin: center center;
    transition-property: opacity, transform;
  }

  [data-animate-mobile|='slide'].in-view,
  [data-animate-mobile|='zoom'].in-view {
    opacity: var(--opacity-end);
    transform: none;
  }
}