// -------------------------
// PREFIX
// -------------------------
$prefix: byc !default;

// -------------------------
// SASS VARIABLES
// -------------------------

/* General */
$animate-easing: ease-in-out !default;
$animate-delay: 0s !default;
$animate-delay-mobile: 'true' !default; // wip
$animate-duration: 0.35s !default;

/* Fade / Opacity */
$animate-opacity-duration: 0.35s !default;
$animate-opacity-start: 0 !default;
$animate-opacity-end: 1 !default;

/* Reveal */
$animate-border-radius: 0 !default;
$animate-background-color: #FFFFFF !default;
$animate-foreground-color: #F4F4F4 !default;
$animate-reveal-delay: .35s !default;
$animate-reveal-delay-extra: 0s !default;
$animate-reveal-duration: .4s !default;

/* Slide */
$animate-slide-duration: 0.65s !default;
$animate-slide-offset: 50px !default;

/* Zoom */
$animate-zoom-start: .5 !default;
$animate-zoom-end: none !default;

// -------------------------
// CSS VARIABLES
// -------------------------
:root {
  /* General */
  --#{$prefix}-animate-easing: #{$animate-easing};
  --#{$prefix}-animate-delay: #{$animate-delay};
  --#{$prefix}-animate-duration: #{$animate-duration};

  /* Fade / Opacity */
  --#{$prefix}-animate-opacity-duration: #{$animate-opacity-duration};
  --#{$prefix}-animate-opacity-start: #{$animate-opacity-start};
  --#{$prefix}-animate-opacity-end: #{$animate-opacity-end};

  /* Reveal */
  --#{$prefix}-animate-border-radius: #{$animate-border-radius};
  --#{$prefix}-animate-background-color: #{$animate-background-color};
  --#{$prefix}-animate-foreground-color: #{$animate-foreground-color};
  --#{$prefix}-animate-reveal-delay: #{$animate-reveal-delay};
  --#{$prefix}-animate-reveal-delay-extra: #{$animate-reveal-delay-extra};
  --#{$prefix}-animate-reveal-duration: #{$animate-reveal-duration};

  /* Slide */
  --#{$prefix}-animate-slide-duration: #{$animate-slide-duration};
  --#{$prefix}-animate-slide-offset: #{$animate-slide-offset};

  /* Zoom */
  --#{$prefix}-animate-zoom-start: #{$animate-zoom-start};
  --#{$prefix}-animate-zoom-end: #{$animate-zoom-end};
}

// -------------------------
// ANIMATIONS
// -------------------------
[data-animate] {
  transition-duration: var(--#{$prefix}-animate-duration);
  transition-delay: var(--#{$prefix}-animate-delay);
  transition-timing-function: var(--#{$prefix}-animate-easing);
}

/* Fade / Opacity */
[data-animate|='fade'] {
  opacity: var(--#{$prefix}-animate-opacity-start);
  transition-property: opacity;
}

[data-animate|='fade'].in-view {
  opacity: var(--#{$prefix}-animate-opacity-end);
}
[data-animate|='fade'].out-view {
  opacity: var(--#{$prefix}-animate-opacity-start);
}

/* Reveal */
[data-animate|='reveal'] {
  border-radius: var(--#{$prefix}-animate-border-radius);
  overflow: hidden;
  position: relative;
  will-change: transform;

  .reveal__background, 
  .reveal__foreground {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  .reveal__background {
    transition: transform var(--#{$prefix}-animate-reveal-duration) var(--#{$prefix}-animate-easing);
    z-index: 2;
  }
  .reveal__foreground {
    background-color: inherit;
    transition: transform var(--#{$prefix}-animate-reveal-duration) var(--#{$prefix}-animate-easing);
    transition-delay: var(--#{$prefix}-animate-reveal-delay);
    z-index: 3;
  }

  &::before, 
  &::after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  &::before {
    background-color: var(--#{$prefix}-animate-background-color);
    transition: transform var(--#{$prefix}-animate-reveal-duration) var(--#{$prefix}-animate-easing);
    transition-delay: var(--#{$prefix}-animate-reveal-delay-extra);
    z-index: 3;
  }
  &::after {
    background-color: var(--#{$prefix}-animate-foreground-color);
    transition: transform var(--#{$prefix}-animate-reveal-duration) var(--#{$prefix}-animate-easing);
    transition-delay: calc(var(--#{$prefix}-animate-reveal-delay) + var(--#{$prefix}-animate-reveal-delay-extra));
    z-index: 2;
  }
}
[data-animate|='reveal'].in-view {
  .reveal__background {
    transform: translateY(-100%);
  }
  .reveal__foreground {
    transform: translateY(-100%);
  }

  &::before {
    transform: translateY(-100%);
  }
  &::after {
    transform: translateY(-100%);
  }
}

[data-animate|='reveal'].out-view {
  .reveal__background {
    transform: translateY(0);
  }
  .reveal__foreground {
    transform: translateY(0);
  }

  &::before {
    transform: translateY(0);
  }
  &::after {
    transform: translateY(0);
  }
}

/* Slide */
[data-animate|='slide'] {
  opacity: var(--#{$prefix}-animate-opacity-start);
  transform: translateY(var(--#{$prefix}-animate-slide-offset, var(--#{$prefix}-animate-slide-offset)));
  transition-property: opacity, transform;
  transition-duration: var(--#{$prefix}-animate-opacity-duration, var(--#{$prefix}-animate-opacity-duration)), var(--#{$prefix}-animate-slide-duration, var(--#{$prefix}-animate-slide-duration));
}

[data-animate|='slide'].in-view {
  opacity: var(--#{$prefix}-animate-opacity-end);
  transform: none;
  transition-delay: var(--#{$prefix}-animate-delay);
}

[data-animate|='slide'].out-view {
  opacity: var(--#{$prefix}-animate-opacity-start);
  transform: translateY(var(--#{$prefix}-animate-slide-offset, - var(--#{$prefix}-animate-slide-offset)));
  transition-delay: var(--#{$prefix}-animate-delay) !important;
}

/* Zoom */
[data-animate|='zoom'] {
  opacity: var(--#{$prefix}-animate-opacity-start);
  transform: scale(var(--#{$prefix}-animate-zoom-start, var(--#{$prefix}-animate-zoom-start)));
  transform-origin: center center;
  transition-property: opacity, transform;
}

[data-animate|='zoom'].in-view {
  opacity: var(--#{$prefix}-animate-opacity-end);
  transform: scale(var(--#{$prefix}-animate-zoom-end, var(--#{$prefix}-animate-zoom-end)));
  transition-delay: var(--#{$prefix}-animate-delay);
}
[data-animate|='zoom'].out-view {
  opacity: var(--#{$prefix}-animate-opacity-start);
  transform: scale(var(--#{$prefix}-animate-zoom-start, var(--#{$prefix}-animate-zoom-start)));
  transition-delay: var(--#{$prefix}-animate-delay);
}


// -------------------------
// MOBILE
// -------------------------
@media only screen and (max-width: 991.99px) {
  [data-animate-mobile] {
    display: block;
  }

  /* Fade */
  [data-animate-mobile|='fade'] {
    opacity: var(--#{$prefix}-animate-opacity-start);
    transition-property: opacity;

    // Unset slide/zoom properties
    transform: unset;
  }
  
  [data-animate-mobile|='fade'].in-view {
    opacity: var(--#{$prefix}-animate-opacity-end);
  }

  /* Slide */
  [data-animate-mobile|='slide'] {
    opacity: var(--#{$prefix}-animate-opacity-start);
    transform: translateY(var(--#{$prefix}-animate-slide-offset, var(--#{$prefix}-animate-slide-offset)));
    transition-property: opacity, transform;
    transition-duration: var(--#{$prefix}-animate-opacity-duration, var(--#{$prefix}-opacity-duration)), var(--#{$prefix}-animate-slide-duration, var(--#{$prefix}-animate-slide-duration));
  }

  /* Zoom */
  [data-animate-mobile|='zoom'] {
    opacity: var(--#{$prefix}-animate-opacity-start);
    transform: scale(var(--#{$prefix}-animate-zoom-start, var(--#{$prefix}-animate-zoom-start)));
    transform-origin: center center;
    transition-property: opacity, transform;
  }

  [data-animate-mobile|='slide'].in-view,
  [data-animate-mobile|='zoom'].in-view {
    opacity: var(--#{$prefix}-animate-opacity-end);
    transform: none;
  }
}