@use '../settings' as *;

.btn {
    &.btn-primary {
      background-color: transparent;
      border: 2px solid $ink;
      border-radius: 8px;
      color: $ink;
  
      &:hover {
          background-color: $ink;
          border-color: $ink;
          color: $white;
      }
    }

    &.btn-link {
      color: $ink;
      padding: 0;

      &:hover {
        text-decoration: none;
      }
    }
}
