.code-toolbar {
    position: relative;

    &:hover {
        .toolbar {
            display: block;
        }
    }

    pre {
      border-radius: 10px;
      padding: 30px;
    }

    .toolbar {
        display: none;
        position: absolute;
        right: 30px;
        top: 15px;

        button {
            background-color: #F4F2F0;
            border: 1px solid #878787;
            border-radius: 5px;
            color: #878787;
            font-size: pxToRem(12px);

            &:hover {
                border-color: $black;
                color: $black;
            }
        }
    }
}