$black: #000000;

//-----------------
// Interface
//-----------------
$ink-deep: #0B111D;
$ink: #131E32;
$ink-light: #223049;
$sand: #F2EADF;
$shadow: #F4F4F4;
$white: #FFFFFF;

//-----------------
// Brand
//-----------------
$pine-dark: #006F59;
$pine-light: #01BE98;
$royal-dark: #004ACF;
$royal-light: #2473FF;
$sun-bright: #FFC600;
$sun-light: #FFF0BC;
$caracara-dark: #FF6B27;
$caracara-light: #FFA875;

//-----------------
// Text
//-----------------
$text-ink: $ink;
$text-ink-75: rgba($ink, .75);
$text-white: $white;
$text-white-75: rgba($white, .75);

html {
  scroll-behavior: initial !important;
}

body {
  // --byc-animate-slide-offset: 300px;
}

// h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
//     font-family: $segment-semibold;
// }

h1, .h1 {
    font-size: 80px;
    line-height: 1.2;
}
h2, .h2 {
    font-size: 50px;
    line-height: 1.3;
}
h3, .h3 {
    font-size: 40px;
    line-height: 1.25;
}
h4, .h4 {
    font-size: 30px;
    line-height: 1.2;
}
h5, .h5 {
    font-size: 24px;
    line-height: 1.2;
}

p {
    font-size: 24px;
}

.code-toolbar {
    position: relative;

    &:hover {
        .toolbar {
            display: block;
        }
    }

    pre {
        border-radius: 10px;
        padding: 30px;
    }

    .toolbar {
        display: none;
        position: absolute;
        right: 30px;
        top: 15px;

        button {
            background-color: #F4F2F0;
            border: 1px solid #878787;
            border-radius: 5px;
            color: #878787;
            font-size: 12px;

            &:hover {
                border-color: $black;
                color: $black;
            }
        }
    }
}

.img-wrapper {
    aspect-ratio: 1;
    border-radius: 16px;
    overflow: hidden;

    img {
        border-radius: 16px;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.section {
  padding: 80px 0;

  &--hero {
    background-color: $ink;
    color: $white;
    min-height: 100vh;
    padding: 140px 0 130px;

    .container-xl {
      > .d-flex {
        min-height: calc(100vh - 200px);
      }
    }

    .h1 {
      border-bottom: 1px solid rgba($white, 0.2);
      line-height: 1.125;
      margin: 0;
      padding: 0 0 60px;
    }

    .intro {
        line-height: 1.33;
        margin: 60px 0 0;
        max-width: 80%;
    }
  }

  &--parallax {
    padding: 50px 0 800px;

    .image-parallax {
        height: 500px;
        overflow: hidden;
        width: 100%;

        img {
            height: 150%;
            object-fit: cover;
            width: 100%;
        }
    }

    [class*="col-"] {
      display: flex;
      justify-content: center;

      &:nth-child(even) {
        margin-top: 150px;
      }
    }

    img {
      aspect-ratio: 450 / 600;
      max-height: 700px;
    }
  }
}
