$black: #000000;

//-----------------
// Interface
//-----------------
$ink-deep: #0B111D;
$ink: #131E32;
$ink-light: #223049;
$sand: #F2EADF;
$shadow: #F4F4F4;
$white: #FFFFFF;

//-----------------
// Brand
//-----------------
$pine-dark: #006F59;
$pine-light: #01BE98;
$royal-dark: #004ACF;
$royal-light: #2473FF;
$sun-bright: #FFC600;
$sun-light: #FFF0BC;
$caracara-dark: #FF6B27;
$caracara-light: #FFA875;

//-----------------
// Text
//-----------------
$text-ink: $ink;
$text-ink-75: rgba($ink, .75);
$text-white: $white;
$text-white-75: rgba($white, .75);